@use 'govuk-frontend/dist/govuk/index' as *;
@use '@ministryofjustice/frontend/moj/all' as moj;

.selected-la-banner {
  width: 100%;
  height: 10px;
  background-color: govuk-colour('blue');

  &__with-name {
    height: 50px;
    background-color: govuk-colour('blue');
  }

  &__container {
    @include moj.moj-width-container;
    @include govuk-clearfix;
    position: relative;
    padding-top: 8px; // hard coded to center the text

    &-title {
      color: govuk-colour('white');
    }
  }
}

.sub-nav {
  &__container {
    @include moj.moj-width-container;
    @include govuk-clearfix;
    position: relative;
    margin-bottom: govuk-spacing(5);
  }
}

.juror-er-header {
  background-color: govuk-colour('blue') !important;
}

.govuk-inset-text--green {
  border-left-color: govuk-colour('green');
}

.govuk-inset-text--red {
  border-left-color: govuk-colour('red');
}

.data-upload-closed-panel {
  padding: 35px;
  background-color: govuk-colour('blue') !important;
  h1 {
    color: govuk-colour('white');
  }
  p {
    color: govuk-colour('white');
  }
}

.loading-spinner {
  @include govuk-responsive-padding(4, 'top');

  &__spinner {
    margin-left: auto;
    margin-right: auto;
    border: 12px solid #dee0e2;
    border-radius: 50%;
    border-top-color: govuk-colour('blue');
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  &__content {
    text-align: center;
    @include govuk-responsive-padding(4, 'top');
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
