{% extends "./govuk-template.njk" %}

{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block selectedLocalAuthority %}
  {# TODO FIX THIS TO WORK PROPERLY WHEN LOGGING IN AS LA #}
  {% if currentApp %}
    <div class="selected-la-banner__with-name">
      <div class="selected-la-banner__container">
        <span class="govuk-heading-s selected-la-banner__container-title">Manchester City Council</span>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block subNavigation %}
  {% if currentApp %}
    {% include "./sub-navigation.njk" %}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
