{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{{ mojSubNavigation({
      label: "Sub navigation",
      items: [{
        text: text.NAVIGATION.DATA_UPLOAD,
        href: "/data-upload",
        active: currentApp == "data-upload"
      }, {
        text: text.NAVIGATION.UPLOAD_GUIDANCE,
        href: "/upload-guidance",
        active: currentApp == "upload-guidance"
      }, {
        text: text.NAVIGATION.ACCOUNT_ACCESS,
        href: "/account-access",
        active: currentApp == "account-access"
      }],
      classes: "sub-nav__container"
    }) }}
