{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{{ mojSubNavigation({
  label: "Sub navigation",
  items: [{
    text: text.NAVIGATION.DATA_UPLOAD,
    href: "#1",
    active: true
  }, {
    text: text.NAVIGATION.UPLOAD_GUIDANCE,
    href: "#2"
  }, {
    text: text.NAVIGATION.ACCOUNT_DETAILS,
    href: "#3"
  }]
}) }}
