{% extends "layouts/default.njk" %}

{% block page_title %}{{ serviceName }} - Account Details{% endblock %}
{% block page_identifier %}Account Details{% endblock %}

{% set currentApp = "account-details" %}

{% block content %}

  <div>
  </div>

{% endblock %}
