{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "macros/csrf.njk" import csrfProtection %}

{% block page_title %}{{ serviceName }} - Sign in{% endblock %}
{% block page_identifier %}Sign in{% endblock %}

{% block content %}

  <div>
    <h1 class="govuk-heading-l">{{text.LOGIN.PAGE_HEADING}}</h1>
    <h1 class="govuk-heading-l">Sign in to the electoral register data portal</h1>
    <p class="govuk-body">Need to add some text about the service here.</p>

    {{ govukButton({
      text: text.LOGIN.SIGN_IN_BUTTON,
      href: "#",
      isStartButton: true
    }) }}

    <form action="{{ devLoginUrl }}" method="POST" id="emailAuth">

      {{ govukInput({
        label: {
          text: text.LOGIN.EMAIL_ADDRESS_LABEL
        },
        classes: "govuk-input--width-20",
        id: "email",
        name: "email",
        value: tmpBody.email,
        errorMessage: { text: errors.email } if errors.email else null
      }) }}

      {{ govukButton({
        text: text.LOGIN.SIGN_IN_WITH_EMAIL_BUTTON,
        isStartButton: true,
        attributes: {
          id: "signInEmailButton"
        }
      }) }}

      {{ csrfProtection(csrftoken) }}
    </form>

  </div>

{% endblock %}
