{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "macros/csrf.njk" import csrfProtection %}

{% block page_title %}{{ serviceName }} - Sign in{% endblock %}
{% block page_identifier %}Sign in{% endblock %}

{% block content %}

  <div>
    <h1 class="govuk-heading-l">{{text.LOGIN.PAGE_HEADING}}</h1>

    {{ govukButton({
      text: text.LOGIN.SIGN_IN_BUTTON,
      href: "#",
      classes: "govuk-button--start"
    }) }}

    <form action="{{ devLoginUrl }}" method="POST" id="emailAuth">

      {{ govukInput({
        label: {
          text: text.LOGIN.EMAIL_ADDRESS_LABEL
        },
        classes: "govuk-input--width-20",
        id: "email",
        name: "email",
        errorMessage: emailError
      }) }}

      {{ govukButton({
        text: text.LOGIN.SIGN_IN_WITH_EMAIL_BUTTON,
        classes: "govuk-button--start",
        attributes: {
          id: "signInEmailButton"
        }
      }) }}

      {{ csrfProtection(csrftoken) }}
    </form>

  </div>

{% endblock %}
