{% extends "layouts/default.njk" %}

{% block page_title %}{{ serviceName }} - Upload Guidance{% endblock %}
{% block page_identifier %}Upload Guidance{% endblock %}

{% set currentApp = "upload-guidance" %}

{% block content %}

  <div>
  </div>

{% endblock %}
