{% extends "../layouts/default.njk" %}

{% block page_title %}403 Forbidden{% endblock %}

{% block content %}
  <div>
    <h1 class="govuk-heading-xl">Forbidden</h1>
    <p class="govuk-body">You do not have permission to access this content</p>
    <p class="govuk-body">You can <a href="/">return to the homepage</a>.</p>
  </div>
{% endblock %}
